body{
    background-color: #ffe6e6;
    font-family: 'Indie Flower', cursive;
}
#imglogo{
    width: 100px;
    height: 100px;
}
#logo{
    text-align: center;
    width: auto;
}
#menu{ 
    display:inline-block;
    font-weight: bold;
    padding-top: 10px;
}
#busca{
    margin-top: 10px;
    text-align: center;
}
#txtbusca{
    background-color:white;
    padding-left: 15px;
    font-size: 20px;
    font-style: italic;
    width: 500px;
    text-align: left;
    font-family: 'Indie Flower', cursive;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    padding: 2px 25px;
    margin: 3px;
}
a:hover{
    background-color: white;
    border: solid 1px black;
    border-radius: 20px;
    padding: 5px, 10px;
}
#imginicio{
    text-align: center;
    margin-top: 30px;
}
#contato{
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    width: 450px;
    margin: auto;
}
.principal{
    font-size: 40px;
    color: pink;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    text-align: center;
}
#wpp{
    padding: 0;
    margin: auto; 
    float:left;
    margin-right: 15px;   
}
#ig{
    padding: 0;
    margin: auto; 
    float:left;
    margin-right: 15px;   
}
#email{
    padding: 0;
    margin: auto; 
    float:left;
    margin-right: 15px;
}
#map{
    padding: 0;
    margin: auto; 
    float:left;
    margin-right: 15px;
}
#horarios{
    font-size: 40px;
    color: pink;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}
.phorarios{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}
#txtnome{
    background-color:white;
    padding: 2px;
    border: solid 0.5px;
    border-radius: 15px;
    width: 463px;
    font-family: 'Indie Flower', cursive;
    margin: 5px;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 80px;
}
#txttel{
    background-color:white;
    padding-left: 15px;
    border: solid 0.5px;
    border-radius: 15px;
    width: 450px;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 60px;
}
#txtmail{
    background-color:white;
    padding-left: 15px;
    border: solid 0.5px;
    border-radius: 15px;
    width: 450px;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 80px;
}
#txtmsg{
    background-color:white;
    padding-left: 15px;
    border: solid 0.5px;
    border-radius: 15px;
    width: 450px;
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 20px;
    height: 200px;
    margin-bottom: 5px;
    margin-left: 50px;
}
.form{
    display: inline;
    font-size: 18px;
    padding-left: 15px;
}
#org{
    padding: 0;
    margin: 0;
    text-align: inline;
}
#destaques{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    Color: pink;
    margin-top: 30px;
}
form{
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;

}
.sub{
    text-align: center;
    margin: 0;
    padding: 5px;
    width: 300px;
    background-color: pink;
    border-radius: 15px;

}
footer{
    text-align: center;
    margin-top: 15px;
}